body {
  display: flex;
  background: center/cover url("../img/bg.jpg");
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

* {
  outline: 0 !important;
}

.mainBlock {
  display: flex;
  padding: 0 50px;
}

.leftBlock {
  display: flex;
  flex-basis: 60%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px 0 0 10px;
}

.rightBlock {
  display: flex;
  flex-basis: 40%;
  /* background: linear-gradient(#ffd1d1, #eb7f7f); */
  /* border-radius: 10px; */
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  min-width: 360px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

.inputField {
  padding: 10px;
  border-radius: 10px;
  border-color: #aa3037;
  border-width: 2px;
}

.buttonLogin {
  background-color: #aa3037;
  padding: 10px 20px;
  border-radius: 10px;
  color: aliceblue;
}

.buttonLogin:hover {
  background-color: #7d1c20;
}

.authText {
  color: #aa3037 !important;
  font-size: 25px;
  font-weight: 700;
  /* text-shadow: 1px 1px 1px #ffffff6e; */
}
