body {
  display: flex;
  background: center/cover url("../img/bg.jpg");
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
  min-height: 100vh;
  /* padding: 10px; */
}

* {
  outline: 0 !important;
  font-family: sans-serif;
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px 0;
  color: aliceblue;
  width: 100%;
  /* margin: 0 20px 30px 20px; */
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(182, 58, 58), 0 0 1em rgb(165, 57, 57),
    0 0 0.2em rgb(255, 0, 0);
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: aliceblue;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(182, 58, 58), 0 0 1em rgb(165, 57, 57),
    0 0 0.2em rgb(255, 0, 0);
  padding-top: 60px;
}

.mainBlock {
  display: flex;
  padding: 0 50px;
}

.leftBlock {
  display: flex;
  flex-basis: 60%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px 0 0 10px;
}

.rightBlock {
  display: flex;
  /* flex-basis: 40%; */
  /* background: linear-gradient(#ffd1d1, #eb7f7f); */
  /* border-radius: 10px; */
  /* height: 200px; */
  padding: 20px 0 20px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  min-width: 360px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

.inputField {
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  border-color: #aa3037;
  border-width: 2px;
  background: rgba(255, 255, 255, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
  border: 1px solid rgba(255, 255, 255, 0.52);
}

.buttonLogin {
  background-color: #aa3037;
  padding: 10px 20px;
  border-radius: 10px;
  color: aliceblue;
  font-weight: 700;
  border: 0;
}

.buttonLogin:hover {
  background-color: #7d1c20;
}

.usernameText {
  /* color: #aa3037 !important; */
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(182, 58, 58), 0 0 1em rgb(165, 57, 57),
    0 0 0.2em rgb(255, 0, 0);
}

.header {
  display: flex;
  background-color: #0000000e;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(9px);
  color: #ffffff;
}

.mainBlockInfo {
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchDivForm {
  display: flex;
  gap: 10px;
  /* background-color: #7d1c20; */
  width: 100%;
  max-width: 450px;
}

.inputSearch {
  padding: 10px;
  border-radius: 10px;
  border-width: 0;
  width: 100%;
  /* min-width: 250px; */
}

.inputButtonForm {
  display: flex;
  padding: 5px 15px;
  border-radius: 10px;
  border-width: 0;
  align-items: center;
  background-color: #aa3037;
  color: aliceblue;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
}

.inputButton {
  display: flex;
  padding: 5px 15px;
  border-radius: 10px;
  border-width: 0;
  max-height: 25px;
  align-items: center;
  background-color: #aa3037;
  color: aliceblue;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(182, 58, 58), 0 0 1em rgb(165, 57, 57),
    0 0 0.2em rgb(255, 0, 0);
}

.inputButtonFilter {
  display: flex;
  padding: 5px 15px;
  border-radius: 10px;
  border-width: 0;
  max-height: 25px;
  align-items: center;
  background-color: #aa3037;
  color: aliceblue;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
}

.inputButton:hover {
  background-color: #7d1c20;
  cursor: pointer;
}

.inputButtonFilter:hover {
  background-color: #7d1c20;
  cursor: pointer;
}

.inputButtonForm:hover {
  background-color: #7d1c20;
  cursor: pointer;
}

.contentBlock {
  display: flex;
  margin: 30px 20px;
  padding: 10px;
  /* background-color: aliceblue; */
  /* border-radius: 10px; */
  width: 95%;
  /* min-width: 500px; */
  /* max-width: 1000px; */
  /* max-width: 550px; */
  overflow: hidden;
  gap: 10px;
  /* flex-direction: row; */
  /* max-width: 550px; */
  flex-wrap: wrap;
  justify-content: space-between;
  /* стекло */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

.cardBlock {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  width: 46%;
  max-width: 600px;
  /* min-width: 150px; */
  /* width: 300px; */
  /* min-width: 150px; */
  /* align-items: center; */
  border-radius: 10px;
  margin: 10px 5px;
  /* height: fit-content; */
  justify-content: space-between;
  /* overflow: hidden; */
}

.plugCard {
  width: 100%;
  text-align: center;
  /* background-color: #7d1c20; */
}

.cardImage {
  /* width: 250px; */
  /* max-width: 350px; */
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  /* height: 150px; */
}

.cardText {
  color: #000000;
  font-size: 17px;
  padding: 10px;
  margin: 0;
  /* max-width: 150px; */
}

.cardDescription {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}

/* .footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #7d1c20;
  width: 100%;
} */

.filterDivCards {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background-color: #b96064; */
  width: 50%;
  margin: 20px 0 0 0;
  justify-content: center;
}

.filterText {
  color: aliceblue;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(182, 58, 58), 0 0 1em rgb(165, 57, 57),
    0 0 0.2em rgb(255, 0, 0);
}

.plugText {
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(182, 58, 58), 0 0 1em rgb(165, 57, 57),
    0 0 0.2em rgb(255, 0, 0);
}

@media screen and (max-width: 460px) {
  .cardBlock {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .cardBlock {
    width: 31%;
  }
}
